@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './styles/button.css';
@import './styles/form.css';

@layer base {
  :root {
    --color-primary: 56 111 164;
    --color-secondary: 89 165 216;
    --color-text-primary: 255 255 255;
  }
}

.positionLeft {
  @apply fixed inset-y-0 left-0 flex h-full w-96 flex-col
          items-center justify-start overflow-hidden bg-white
          transition duration-300 ease-in-out;
}

.positionRight {
  @apply fixed inset-y-0 right-0 flex h-full w-96 flex-col
          items-center justify-start overflow-hidden bg-white
          transition duration-300 ease-in-out;
}

.positionTop {
  @apply fixed inset-x-0 top-0 flex h-96 w-full flex-col
          items-center justify-start overflow-hidden bg-white
          transition duration-300 ease-in-out;
}

.positionBottom {
  @apply fixed inset-x-0 bottom-0 flex h-96 w-full flex-col
          items-center justify-start overflow-hidden bg-white
          transition duration-300 ease-in-out;
}
